absl-py==1.0.0
appdirs==1.4.4
attrs==21.4.0
axisregistry==0.2.0
babelfont==2.0.2
beziers==0.4.0
booleanOperations==0.9.0
Brotli==1.0.9
browserstack-local==1.2.2
cattrs==1.10.0
certifi==2021.10.8
cffi==1.15.0
cffsubr==0.2.9.post1
charset-normalizer==2.0.12
click==8.0.4
colorlog==6.6.0
compreffor==0.5.1.post1
cu2qu==1.6.7.post1
defcon==0.10.0
Deprecated==1.2.13
fontFeatures==1.6.4
fontmake==3.2.0
fontMath==0.9.1
fontParts==0.10.4
fontPens==0.2.4
fonttools==4.31.2
fs==2.4.15
gflanguages==0.4.0
gftools==0.9.4
glyphsets==0.2.1
glyphsLib==6.0.4
glyphtools==0.8.0
hyperglot==0.3.8
idna==3.3
Jinja2==3.1.0
lxml==4.8.0
MarkupSafe==2.1.1
numpy==1.22.3
openstep-plist==0.3.0
opentype-sanitizer==8.2.1
Pillow==9.0.1
protobuf==3.19.4
psutil==5.9.0
pybrowserstack-screenshots==0.1
pyclipper==1.3.0.post2
pycparser==2.21
pygit2==1.9.1
PyGithub==1.55
PyJWT==2.3.0
PyNaCl==1.5.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
simplejson==3.17.6
six==1.16.0
skia-pathops==0.7.2
statmake==0.4.1
strictyaml==1.6.1
tabulate==0.8.9
ttfautohint-py==0.5.1
ufo2ft==2.26.0
ufoLib2==0.13.1
unicodedata2==14.0.0
Unidecode==1.3.4
urllib3==1.26.17
vttLib==0.11.0
wrapt==1.14.0
